@model LoginApp.ViewModels.IngredientViewModel

@{
    ViewData["Title"] = "Update Ingredient";
    var sources = new List<SelectListItem>
    {
        new SelectListItem { Value = "Local", Text = "Local" },
        new SelectListItem { Value = "USDA", Text = "USDA" },
        new SelectListItem { Value = "GSImport", Text = "GSImport" }
    };

    var classifications = new List<SelectListItem>
    {
        new SelectListItem { Value = "Chicken", Text = "Chicken" },
        new SelectListItem { Value = "Dairy Food", Text = "Dairy Food" },
        new SelectListItem { Value = "Fast Food", Text = "Fast Food" },
        new SelectListItem { Value = "Dessert Food", Text = "Dessert Food" },
        new SelectListItem { Value = "Fat", Text = "Fat" }
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ775eaSPhE8qDJE1TMfGAd47XFrn5eos1M" crossorigin="anonymous">
    <title>@ViewData["Title"] - LoginApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/updateingredient.css" asp-append-version="true" />
</head>
<body>
    <div class="containers mt-6" style='margin-right:300px;width:920px'>
        <div class="btn-groupss" style="margin-bottom: 40px;margin-right:110px;margin-top:120px">
            <h2>General</h2>
            <a href="@Url.Action("Measurement", "Measurements")" class="btn btn-info">Measurement</a>
            <a href="@Url.Action("Create", "Create")" class="btn btn-warning">Nutrients</a>
            <a href="" class="btn btn-success">Allergens</a>
            <a href="" class="btn btn-primary">Purchase info</a>
            <a href="@Url.Action("Attachment", "Attachments")" class="btn btn-secondary">Attachments</a>
        </div>
        <form id="update-form" asp-controller="Ingredients" asp-action="UpdateIngredient" method="post" class="centered-form" style="padding-left:30px;width:1120px">
            <div class="form-group">
                <label for="name">Ingredient # or Description</label>
                <input type="hidden" name="Id" value="@Model.Id" /> <!-- Hidden field for Id -->
                <input type="text" class="form-control" id="name" name="Name" value="@Model.Name" required>
            </div>
            <div class="form-group">
                <label for="source">Source</label>
                @Html.DropDownListFor(model => model.Source, new SelectList(sources, "Value", "Text", Model.Source), new { @class = "form-control dropdown-arrow", id = "source" })
            </div>
            <div class="form-group">
                <label for="classification">Classification</label>
                <div class="d-flex">
                    @Html.DropDownListFor(model => model.Classification, new SelectList(classifications, "Value", "Text", Model.Classification), new { @class = "form-control dropdown-arrow", id = "classification", style = "flex:1;" })
                    <button type="button" class="btn btn-outline-primary ml-2" id="add-classification" data-toggle="modal" data-target="#classificationModal" style="margin-left: 4px;">+</button>
                </div>
            </div><br/>
            <button type="button" class="btn btn-primary" id="update-btn">Update</button>
        </form>
    </div>

    <div id="grid"></div>

    <!-- Confirmation Modal -->
    <div id="updateConfirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateConfirmationModalLabel">Confirm Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to update this ingredient?</p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger mr-2" data-dismiss="modal" style="padding-left:50px;padding-right:50px;margin-right:40px">No</button>
                        <button type="button" class="btn btn-warning" id="confirmUpdateBtn" style="padding-left:50px;padding-right:50px;margin-right: 100px;">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Classification -->
    <div class="modal fade" id="classificationModal" tabindex="-1" role="dialog" aria-labelledby="classificationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="classificationModalLabel">New Classification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="classification-form">
                        <div class="form-group">
                            <label for="new-classification">Description</label>
                            <input type="text" class="form-control" id="new-classification" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="save-classification">Save</button>
                </div>
            </div>
        </div>
    </div>

    <img src="https://cdn-gxx.dataweavers.io/-/media/heartland/school-solutions/hss-footer.png?modified=20190820232021" width="1130px" style="margin-top:100px">

    <!-- Bootstrap and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            // Save classification
            $("#save-classification").click(function() {
                var newClassification = $("#new-classification").val();
                if (newClassification) {
                    // Add new classification to the dropdown list
                    $("#classification").append(new Option(newClassification, newClassification));
                    // Select the new classification
                    $("#classification").val(newClassification);
                    // Clear the input field in the modal
                    $("#new-classification").val('');
                    // Hide the modal
                    $("#classificationModal").modal('hide');
                }
            });

            // Ensure modal is properly hidden when the cancel button is clicked
            $(".btn[data-dismiss='modal']").click(function() {
                $(this).closest('.modal').modal('hide');
            });

            // Open confirmation modal for update
            $("#update-btn").click(function() {
                $('#updateConfirmationModal').modal('show');
            });

            // Confirm update action
            $("#confirmUpdateBtn").click(function() {
                $("#update-form").submit();
            });
        });
    </script>
</body>
</html>
